<footer class="bt bb pv4 ph3 ph0-ns b--light-silver bg-white footer relative">
  <div class="container center">
    <div class="flex w-100 flex-column flex-row-ns justify-between-ns items-center">
      <h3 class="f3 serif normal ma0 tc tl-ns mb3 mb0-ns">Didn’t find your answer?</h3>
      <div class="db">
        <a class="{{site.button}}" href="mailto:{{site.support}}">Contact Support</a>
      </div>
    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6009272/6889992/css/fonts.css" />


<script src="https://cdn.jsdelivr.net/npm/menuspy@latest/dist/menuspy.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickybits/3.2.0/stickybits.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
