<header class="gradient-navy white pv4 header relative z-1 overflow-hidden">
  {%include header-shapes.html%}
  <div class="container center ph3 relative z-2">
    <nav class="flex flex-column flex-row-ns items-center justify-between-ns">
      <a class="db" href="/">
      <img class="db" src="{{site.url}}/assets/images/help-center-logo.svg" alt="{{site.title}}">
      </a>
      <a class="white-70 dn db-ns hover-white link f7 no-underline" href="//adoreboard.com">
        <div class="icon-container icon-inline">
          {% include icon/external-link.svg %}
        </div>
        Go to Adoreboard
      </a>
    </nav>

  </div><!-- /container -->
</header>
