
// Converted Variables


// Custom Media Query Variables


/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
}
.link:active  {
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.link-underline-hover {
  h3::after {
    content: '';
    display: block;
    border-bottom: solid 2px;
    border-color: inherit;
    transform: scaleX(0);
    transition: $transition-bezier;
    transform-origin: 0% 50%;
  }
  &:hover, &:focus {
    h3::after {
      transform: scaleX(1);
    }
  }
}
