
// Converted Variables


// Custom Media Query Variables


/*

   LISTS
   http://tachyons.io/docs/elements/lists/

*/

.list {         list-style-type: none; }

.list--aside {
  a {
    &::before {
      content: "";
      width: 0;
      position: absolute;
      transition: width .4s ease;
      height: 100%;
      top:0;
      left:0;
      will-change: width;
    }
  }
  .active a {
    font-weight: 500;
    color: inherit;
    &::before {
      content: "";
      width: 3px;
      background-color: currentColor;
    }
    &.active--blue::before {
      background-color: $blue;
    }
    &.active--purple::before {
      background-color: $purple;
    }
    &.active--yellow::before {
      background-color: $yellow;
    }
  }
}

.list--card {
  padding-left: 1em;
  @media #{$breakpoint-not-small}{
    visibility: hidden;
    li {
      will-change: opacity transform;
      opacity: 0;
      transition: all .2s cubic-bezier(.77,0,.175,1);;
      // animation: fadeIn .4s ease;
      // animation-fill-mode: both;
    }
  }
}
