---
layout: default
---
<div class="container center ph2 ph0-ns">
  <div class="fade-in relative z-2">
    <article class="bg-white article br2 shadow-2">
      <div class="bg-{{page.color.title}} br2 br--top article--border absolute w-100 left-0 top-0"></div>
      <header class="tc ph4 pv4 pv5-ns">
        <h1 class="serif f2 f1-ns mt0 normal fw3 pt3" itemprop="name headline">{{ page.title }}</h1>
        <h3 class="f6 f5-ns sans-serif lighter-gray fw5 mb0 pb3">Last updated: <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></h3>
      </header>

      <div class="flex flex-column flex-row-ns ph3 ph0-ns" itemprop="articleBody">
        <aside id="sticky" class="dn db-ns w-30 h-auto self-start">
          <div id="post-menu" class="bg-washed-blue br3 br--right w-100 pv3 sticky">
            <h2 class="ttu light-gray fw5 tracked-tight f7 ph3 pt2 ma0 mb3">Sections</h2>
            <nav class="post-menu">
              <ul class="list list--aside pa0 ma0">
                {%for item in page.sections%}
                <li>
                  <a class="{{site.aside_link}} active--{{page.color.title}}" href="#{{item | slugify}}">{{item}}</a>
                </li>
                {%endfor%}
              </ul>
            </nav>
          </div>
        </aside>
        <section class="w-100 w-70-ns pl5-ns pr4-ns lh-copy">
          <div class="post-content">
            {{ content }}
          </div>
          <div class="pv4">
            <hr>
            <h4 class="ttu light-gray fw5 pv3 tc tracked-tight f7 link-underline-hover">Did this answer your question?</h4>
            <div class="flex flex-row justify-center items-center">
              <div class="ph3 light-gray hover-light-green grow">
                {% include icon/thumbs-down.svg %}
              </div>
              <div class="ph3 light-gray hover-light-green grow">
                {% include icon/thumbs-up.svg %}
              </div>
            </div>
          </div>

        </section>
      </div>

    </article>

    {% if page.next.url %}
    <a href="{{page.next.url}}" class="mt6 db no-underline link-underline-hover">
      <h4 class="ttu light-gray fw5 tracked-tight f7 mb2 no-underline">Next article</h4>
      <h3 class="serif f2 normal fw3 no-underline black ma0 dib b--{{page.next.color.title}}">{{page.next.title}}</h3>
    </a>
    {%elsif page.previous.url%}
    <a href="{{page.previous.url}}" class="mt6 db no-underline link-underline-hover">
      <h4 class="ttu light-gray fw5 tracked-tight f7 mb2 no-underline">Previous article</h4>
      <h3 class="serif f2 normal fw3 no-underline black ma0 dib b--{{page.previous.color.title}}">{{page.previous.title}}</h3>
    </a>
    {%endif%}
  </div>

</div><!-- /container -->
